# --- DATABASE ---
*.db
*.zip
dataset/dataset_stephen.csv
dataset/nft_transfers_jun_aug_labeled.csv
dataset/nft_transfers_jun_aug_ready.csv
dataset/nft_transfers_jun_aug.csv

# --- PYTHON & ML ---
venv/
.venv/
__pycache__/

data/
outputs/
*.csv
*.pkl
*.sqlite
*.db
__pycache__/
.ipynb_checkpoints/
.venv/